@tailwind base;
@tailwind components;
@tailwind utilities;


/* Side bar Component--- */

.sidebar-heading{
  @apply font-[Source_Sans_Pro] font-semibold text-white/60 text-[14px] leading-[17.6px] tracking-normal
}

.sidebar-subcontainer{
  @apply flex flex-col gap-2 w-[300px]
}

.file-item {
  @apply flex gap-[15px] cursor-pointer items-center w-full h-[40px] pt-2 pb-2 hover:text-white transition-all duration-200;
}

.file-text {
  @apply font-[Source_Sans_Pro] font-semibold text-[16px] leading-[20.11px] tracking-normal text-white/60 ;
}

@layer utilities {
    .hide-scrollbar {
      scrollbar-width: none; 
      -ms-overflow-style: none; 
    }
  
    .hide-scrollbar::-webkit-scrollbar {
      display: none; 
    }
  }

  /* FolderList ---- */
  .folder-list-container{
    @apply w-[350px] h-[1024px] bg-[#1C1C1C] flex flex-col gap-[30px] pt-[30px] pr-[20px] pl-[20px]
  }

  .folder-list-heading{
    @apply font-[Source_Sans_Pro] font-semibold text-[22px] leading-[27.65px] tracking-normal text-white
  }

  .folder-list-subcontainer{
    @apply w-full h-[862px] flex flex-col gap-[20px]  
  }

  .note-container{
    @apply h-[98px] w-[310px] bg-white/5 rounded-[3px] gap-[10px] p-[20px] cursor-pointer
  }

  .note-container-heading{
    @apply font-[Source_Sans_Pro] font-medium text-[18px] leading-[28px] tracking-normal text-white
  }

  .note-date{
    @apply font-[Source_Sans_Pro] font-normal text-[16px] leading-[20.11px] tracking-normal text-white/60
  }

  .note-preview{
    @apply font-[Source_Sans_Pro] font-normal text-[16px] leading-[20.11px] tracking-normal text-white/60
  }

  /* Note Component ---- */

  /* Empty & Restore */
  .note-view-container{
    @apply w-full h-[1024px] flex flex-col justify-center items-center  gap-[10px]
  }

  .note-view-h{
    @apply text-white font-[Source_Sans_Pro] font-semibold text-[28px] leading-[35.2px] tracking-normal
  }

  .note-view-p{
    @apply text-white text-center w-[460px] font-[Source_Sans_Pro] font-normal text-white/60 text-[16px] leading-[26px] tracking-normal
  }
  
  .note-view-btn{
    @apply text-white font-[Source_Sans_Pro] font-normal text-[16px] leading-[26px] tracking-normal bg-[#312EB5] pr-[30px] pl-[30px] pt-[8px] pb-[8px] rounded-md cursor-pointer
  }

  /*Active*/
  