@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Colors */
  .theme-text-primary { @apply text-white; }
  .theme-text-secondary { @apply text-white/60; }
  .theme-bg-primary { @apply bg-[#ff1919]; }
  .theme-bg-secondary { @apply bg-[#312EB5]; }
  .theme-bg-dark {@apply bg-[#181818]}
  .theme-bg-faded {@apply bg-white/5}

  /* Typography */
  .theme-font { @apply font-[Source_Sans_Pro]; }
  .theme-heading { @apply theme-font font-semibold text-[22px] leading-[27.65px] tracking-normal; }
  .theme-subtext { @apply theme-font text-[16px] leading-[20.11px] tracking-normal; }

  /* Buttons */
  .theme-button {
    @apply text-white theme-font text-[16px] leading-[26px] tracking-normal bg-[#312EB5] px-[30px] py-[8px] rounded-md cursor-pointer;
  }

  /* Hide scrollbar */
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


.sidebar-heading { 
  @apply theme-font font-semibold theme-text-secondary text-[14px] leading-[17.6px]; 
}

.sidebar-subcontainer { 
  @apply flex flex-col gap-2 w-[300px]; 
}

.file-item { 
  @apply flex gap-[15px] cursor-pointer items-center w-full h-[40px] py-2 hover:text-white transition-all duration-200; 
}

.file-text { 
  @apply theme-font font-semibold theme-subtext theme-text-secondary; 
}


.folder-list-container { 
  @apply w-[350px] h-[1024px] theme-bg-primary flex flex-col gap-[30px] pt-[30px] pr-[20px] pl-[20px]; 
}

.folder-list-heading { 
  @apply theme-heading theme-text-primary; 
}

.folder-list-subcontainer { 
  @apply w-[310px] h-[862px] flex flex-col gap-[20px]; 
}


.note-container { 
  @apply h-[98px] w-[310px] rounded-[3px] gap-[10px] p-[20px] cursor-pointer; 
}

.note-container-heading { 
  @apply theme-font font-medium text-[18px] leading-[28px] theme-text-primary; 
}

.note-date, .note-preview { 
  @apply theme-subtext theme-text-secondary; 
}

.note-view-container { 
  @apply w-full h-[1024px] flex flex-col justify-center items-center gap-[10px]; 
}

.note-view-h { 
  @apply theme-heading text-[28px] leading-[35.2px] theme-text-primary; 
}

.note-view-p { 
  @apply theme-subtext text-center w-[460px] theme-text-secondary; 
}

.note-view-btn { 
  @apply theme-button; 
}
